.box {
    width: 520px;
    height: 600px;
    margin: auto;
    border: 5px solid;
    border-radius: 45px;
}

.login {
    width: 336px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.logo {
    width: 100%;
}

img {
    width: 100%;
}

.form-control-login {
    height: 56px;
    width: 100%;
    border: none;
    padding: 0 15px;
    background-color: #F1F1F1;
    margin-bottom: 10px;
}

.btn-login {
    height: 56px;
    font-size: large;
    border: 3px black solid;
    border-radius: 0%;
    margin: 2px 0;
    align-items: center;
}

.btn-radio {
    align-items: center;

    .left {
        border-radius: 60px 0 0 60px;
    }

    .right {
        border-radius: 0 60px 60px 0;
    }
}

.bottom {
    margin-top: 25px;
    font-size: small;
}